@model IEnumerable<Post>

@{
    var projectsPosts = Model.Where
        (p => p.Category.Name != null && string.Equals(p.Category.Name, "Project", StringComparison.OrdinalIgnoreCase));
}

@Html.Partial("_SharedBanner")
<div class="container pb-5 pt-1 mb-2 mt-2">
    <div class="row justify-content-center">
        @foreach (var post in projectsPosts)
        {
            var postTitle = post.Title.Replace(" ", string.Empty);

            <div class="col-lg-4 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0">

                            @if (post.PostImages != null && post.PostImages.Count > 0)
                            {
                                <div id="@postTitle" class="carousel slide" data-bs-interval="false">
                                    <div class="carousel-indicators">

                                        @for (int index = 0; index < post.PostImages.Count; index++)
                                        {
                                            var image = post.PostImages[index];
                                            <button type="button" data-bs-target="#@postTitle" data-bs-slide-to="@index"
                                                    class="@(index==0?"active":"")"
                                                    aria-current="@(index==0?"true":"false")"
                                                    aria-label="Slide @(index+1)">
                                            </button>
                                        }

                                    </div>
                                    <div class="carousel-inner">

                                        @foreach (var imageWithIndex in
                                       post.PostImages.Select((image, index) => new { PostImage = image, Index = index }))
                                        {
                                            <div class="@(imageWithIndex.Index==0?"carousel-item active":"carousel-item")" style="background-color: black">
                                                <div class="position-relative">
                                                    <img src="@imageWithIndex.PostImage.ImageUrl" class="d-block w-100 h-100" alt="...">
                                                    <div class="image-count-icon rounded-circle">
                                                        <p class="image-count-text">@(imageWithIndex.Index + 1) / @post.PostImages.Count()</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#@postTitle" data-bs-slide="prev">
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#@postTitle" data-bs-slide="next">
                                    </button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
