<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - John O'Loughlin Construction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JolConstructionWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">John O'Loughlin Construction</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="background-color: gray">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Managment
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Post" asp-action="Index">Posts</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="Details">Details</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            <div class="background-image" style="background-image: url('/images/coverPhoto.jpg');">
                <div class="container-fluid center-screen">
                    <div class="site-title col-lg-4 col-sm-8 ">
                        <h1>John O'Loughlin</h1>
                        <h1>Construction</h1>
                        <div class="email-contact">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true" style="color: white;">
                                <a href="mailto:johnsoloughlin.gmail.com" class="phone-and-email" style="color: white;">johnsoloughlin@gmail.com</a>
                            </i>
                        </div>
                        <div class="phone-contact">
                            <i class="fa fa-phone-square fa-2x" aria-hidden="true" style="color: white;">
                                <a href="tel:0868554799" class="phone-and-email" style="color: white;">086 855 4799</a>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pb-1 pt-1 mb-2 mt-2">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group" role="group">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-light mx-1" data-target="projects" onclick="btnClick()">
                            <i class="bi bi-house-check"></i> Projects
                        </a>
                        <a href="@Url.Action("Index", "Services")" class="btn btn-lg btn-light mx-1" data-target="services" onclick="btnClick()">
                            <i class="bi bi-hammer"></i> Services
                        </a>
                        @*<a href="@Url.Action("Index", "Contact")" class="btn btn-lg btn-light mx-1" data-target="contact" onclick="btnClick()">
                            <i class="bi bi-telephone"></i> Contact
                        </a>*@
                    </div>
                </div>
            </div>
            @RenderBody()
            @RenderSection("Styles", false)
        </main>
    </div>

    <footer class="border-top pt-1 pb-1 footer text-muted bg-dark">
        <div class="text-center">
            <i class="bi bi-c-circle"></i>
            <span class="fs-6">2023 John O'Loughlin Construction Ltd</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
