@model IEnumerable<Post>

@{
    var servicesPosts = Model.Where
        (p => p.Category.Name != null && string.Equals(p.Category.Name, "Services", StringComparison.OrdinalIgnoreCase));
}

@Html.Partial("_SharedBanner")
<div class="container pb-1 pt-1 mb-2 mt-2">
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-wrap col-12 btn-group mt-4" role="group">

            <a href="@Url.Action("Index", "Services", new { filterServices = "All"})" class="btn btn-sm btn-dark service-button mx-1 mt-1">
                All
            </a>
            <a href="@Url.Action("Index", "Services", new { filterServices = "Roofing"})" class="btn btn-sm btn-dark service-button mx-1 mt-1" onclick="btnClick()">
                Roofing
            </a>
            <a href="@Url.Action("Index", "Services", new { filterServices = "Timber Framing"})" class="btn btn-sm btn-dark service-button mx-1 mt-1">
                Timber Framing
            </a>
            <a href="@Url.Action("Index", "Services", new { filterServices = "Extensions"})" class="btn btn-sm btn-dark service-button mx-1 mt-1">
                Extensions
            </a>
            <a href="@Url.Action("Index", "Services", new { filterServices = "Garden Room"})" class="btn btn-sm btn-dark service-button mx-1 mt-1">
                Garden Room
            </a>
            <a href="@Url.Action("Index", "Services", new { filterServices = "Patio"})" class="btn btn-sm btn-dark service-button mx-1 mt-1">
                Patio
            </a>
        </div>
    </div>
</div>
<div class="container pb-5 pt-1 mb-2 mt-2">
    <div class="row justify-content-center">
        @foreach (var post in servicesPosts)
        {
            foreach (var image in post.PostImages)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1">
                            <div class="card border-0">
                                <img src="@image.ImageUrl" class="d-block w-100" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

